<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <style type="text/css">
    .ReadMsgBody { width: 100%; }
    .ExternalClass { width: 100%; }
  </style>
</head>

<body style="margin: 0; padding: 0;">
  <span style='font-size: 0; line-height: 0; height: 0; width: 0;'>You'll be first to know when we launch. Beardcare is evolving. Tell your friends.</span>
  <table width="100%" cellspacing='0' cellpadding='0' border="0" bgcolor="#ebebeb" style="background-color: #ebebeb; padding: 73px 15px; margin: 0;">
    <tr>
      <td align="center">
        <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; border: 4px solid #995e5d; border-bottom: none; background: white; text-align: center;" width='651' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
          <tr>
            <td style="padding: 27px 0 27px;">
              <center>
                <img src="<%= Rails.application.config.action_mailer.default_url_options %>/assets/logo.png" alt="bedloe and blackwell logo" style="display: block; margin: 0 auto; padding: 0; border: 0;">
              </center>
            </td>
          </tr>
        </table>
        <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; border: 4px solid #995e5d; border-top: none; border-bottom: none; background: white; text-align: center;" width='651' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
          <tr>
            <td width="18" height="2" style="width: 18px; height: 2px; font-size: 0; line-height: 0;">&nbsp;</td>
            <td width="615" height="2" style="width: 615px; height: 2px; background-color: #d8d8d8; font-size: 0; line-height: 0;" bgcolor="#d8d8d8">&nbsp;</td>
            <td width="18" height="2" style="width: 18px; height: 2px; font-size: 0; line-height: 0;">&nbsp;</td>
          </tr>
        </table>
        <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; border: 4px solid #995e5d; border-top: none; border-bottom: none; background: white; text-align: center;" width='651' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
          <tr>
            <td style="padding: 22px 0 0;">
              <center>
                <img src="<%= Rails.application.config.action_mailer.default_url_options %>/assets/images/refer/referral-image.jpg" alt="Bedloe & Blackwell Is Live! We're launcing a new brand. You'll be the first to know." style="display: block; margin: 0 auto; padding: 0; border: 0;">
              </center>
            </td>
          </tr>
        </table>
        <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; border: 4px solid #995e5d; border-top: none; border-bottom: none; background: white; text-align: center;" width='651' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
          <tr>
            <td style="padding: 60px 0 0;">
              <center>
                <img src="<%= Rails.application.config.action_mailer.default_url_options %>/assets/refer.jpg" alt="Refer Friends, Earn Rewards" style="display: block; margin: 0 auto; padding: 0; border: 0;">
              </center>
            </td>
          </tr>
        </table>
        <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; border: 4px solid #995e5d; border-top: none; border-bottom: none; background: white; text-align: center;" width='651' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
          <tr>
            <td style="padding: 20px 0 0;">
              <center>
                <a href="<%= Rails.application.config.action_mailer.default_url_options || "" %>?ref=<%= @user.referral_code %>" style="font-family: 'Times', serif; font-size: 14px; letter-spacing: 0.05em; color: #6c6c6c; text-decoration: none" target="_blank"><%= Rails.application.config.action_mailer.default_url_options || "" %>?ref=<%= @user.referral_code %></a>
              </center>
            </td>
          </tr>
        </table>
        <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; border: 4px solid #995e5d; border-top: none; border-bottom: none; background: white; text-align: center;" width='651' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
            <tr>
                <td style="padding: 45px 0 43px;">
                    <table style="margin: 0 auto; padding: 0; width: 200px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; background: white; text-align: center;" width='200' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
                        <tr>
                            <td width="80" align="right">
                                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(Rails.application.config.action_mailer.default_url_options || "") %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Share on Facebook" style="outline: 0; border: 0;" target="_blank">
                                    <img src="<%= Rails.application.config.action_mailer.default_url_options %>/assets/facebook.jpg" alt="Share on Facebook" style="display: block; margin: 0; padding: 0; border: 0;">
                                </a>
                            </td>
                            <td width="20"></td>
                            <td width="80">
                                <a href="http://twitter.com/share?url=<%= CGI::escape(Rails.application.config.action_mailer.default_url_options || "") %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(@twitter_message) %>" style="outline: 0; border: 0;" target="_blank">
                                    <img src="<%= Rails.application.config.action_mailer.default_url_options %>/assets/twitter.jpg" alt="Share on Twitter" style="display: block; margin: 0; padding: 0; border: 0;">
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; border: 4px solid #995e5d; border-top: none; border-bottom: none; background: white; text-align: center;" width='651' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
            <tr>
                <td width="18" height="2" style="width: 18px; height: 2px; font-size: 0; line-height: 0;">&nbsp;</td>
                <td width="615" height="2" style="width: 615px; height: 2px; background-color: #d8d8d8; font-size: 0; line-height: 0;" bgcolor="#d8d8d8">&nbsp;</td>
                <td width="18" height="2" style="width: 18px; height: 2px; font-size: 0; line-height: 0;">&nbsp;</td>
            </tr>
        </table>
        <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; border: 4px solid #995e5d; border-top: none; background: white; text-align: center;" width='651' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
            <tr>
                <td style="padding: 18px 0 100px; font-family: 'Brandon Grotesque', 'Helvetica Neue', 'Helvetica', 'Arial', serif; font-size: 14px; letter-spacing: 0.05em; color: #6c6c6c; text-decoration: none">
                    <center>
                        <a href="http://www.bedloeandblackwell.com" style="font-family: 'Brandon Grotesque', 'Helvetica Neue', 'Helvetica', 'Arial', serif; font-size: 13px; color: #6c6c6c; text-decoration: none">bedloeandblackwell.com</a> | <a href="tel:2151234567" style="font-family: 'Brandon Grotesque', 'Helvetica Neue', 'Helvetica', 'Arial', serif; font-size: 13px; color: #6c6c6c; text-decoration: none">(888) 212-6855</a>
                    </center>
                </td>
            </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
