<p class="thanks TWCenMT">We can't thank you enough for spreading <br> the word about Bedloe & Blackwell.</p>
<p class="compiling TWCenMT">We will be reaching out via email to <br>all prize recipients with coupon codes.</p>
<p class="go-to TWCenMT">Shop the collection at <a href="http://www.bedloeandblackwell.com/">BEDLOEANDBLACKWELL.COM</a></p>
