<div class="key"></div>
<p class="byline TWCenMT">Find Out How</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter your Email", :class => "email TWCenMT" %>
  <input class="submit TWCenMT" name="commit" type="submit" value="First Access" />
<% end %>
