<div class="hero light">
	<% if Rails.application.config.ended %>
		<p class="TWCenMT padding-top exit">
			BEDLOE & BLACKWELL IS NOW LIVE<br>
		</p>
		<p class="end-small TWCenMT">
			We look forward to providing you <br> with an unmatched beardcare experience
		</p>
		<% else %>
		<p class="intro TWCenMT padding-top">
			We want to give you a <br>
			beard care experience like none other.<br><br>
			This time, it's on us.
		</p>
		<% end %>
</div>
<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
