<div class="header">
  <div class="content">
    <p class="logo TWCenMT">Bedloe & Blackwell</p>
    <p class="byline TWCenMT">THANK YOU FOR SIGNING UP</p>
  </div>
</div>

<div class="hero refer">
  <div class="page-content clearfix">
    <div class="product">
      <span class="first TWCenMT">Available in 3 Cologne-Quality Fragrances:</span>
      <span class="second TWCenMT">Mahogany Suede, Spiced Citrus, & Vanilla Oud</span>
      <span class="third TWCenMT">(Also Available Fragrance-Free)</span>
    </div>
    <div class="share-wrap">
      <p class="why TWCenMT">Help us spread the word</p>
      <p class="title TWCenMT">Share With Friends.<br>Earn Free Product.</p>
      <p class="subtitle TWCenMT">Share your unique link via email, Facebook or Twitter. <br> For each friend who signs up, take one step closer to<br>earning free gifts from Bedloe & Blackwell.</p>
      <div class="copy-link TWCenMT"><%= root_url %>?ref=<%= @user.referral_code %></div>
      <% twitter_message = "Prepping my #beard for some serious pampering with @bedloeblackwell" %>
      <div class="social-links">
        <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=BedloeAndBlackwell" class="fb" target="_blank"></a>
        <div class="sep"></div>
        <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
      </div>
    </div>
  </div>
</div>

<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.reverse_each { |stop|
    if stop["count"] <= referrals_count and !found
      stop["selected"] = true
      found = stop
    else
      stop["selected"] = false
    end
  }
%>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
  <div class="page-content">
    <p class="callout TWCenMT">Progress Tracker:</p>
    <ul class="products clearfix">
      <li class="title-in-line TWCenMT"><p class="inline-friends">Invitations Accepted & Products Earned</p></li>
      <li class="title TWCenMT"><p class="friends">Invitations Accepted</p><p class="rewards">Products Earned</p></li>
      <% stops.each do |stop| %>
        <li class="product TWCenMT <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
          <div class="circle"><%= stop["count"] %></div>
          <div class="sep"></div>
          <p><%= stop["html"].html_safe %></p>

          <!-- <div class="tooltip">
            <img src="<%= stop["image"] %>" height="254">
          </div> -->
        </li>
      <% end %>
    </ul>


        <div class="bar clearfix"></div>


    <%
      words = ''
      if referrals_count == 1
        words = 'friend has'
      elsif
        words = 'friends have'
      end
    %>

    <% if referrals_count == 0 %>
      <p class="place TWCenMT"><span>No</span> friends have joined just yet.</p>
    <% else %>
      <p class="place TWCenMT"><span><%= referrals_count %></span> <%= words %> joined</p>
    <% end %>
    <p class="check TWCenMT">Check back soon</p>

    <p class="ship TWCenMT">Shipping only available to continental US <br> Apologies for the inconvenience</p>
    <a class="policy TWCenMT" href="/privacy-policy" target="_blank">Review our Privacy Policy here</a>
  </div>
</div>
