form{
	margin-bottom: 0;
}

@font-face {
	font-family: "Tw Cen MT";
	src:url('./TWCenMT') format('truetype');
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.TWCenMT {
	font-family: "TW Cen MT", sans-serif;
}


/* Home */

html {
	width: 100%;
	height: 100%;
}

html.home{
	background: #000000;

}

#home{
	padding-bottom: 50px;
	height: 80%
}

#home .page-content{
  background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#home .hero{
	width: 100%;
	height: 80%;
	background: image-url("home/hero.png") center center no-repeat;
	overflow: hidden;
	position: relative;
	letter-spacing: .09em;
	margin: 0 auto;
}

.light {
	background-color: #212121;
}

#home .hero .large{
	font-weight: bold;
	font-size: 40px;
	color: #FFF;
	text-transform: uppercase;
	margin: 85px 0 0 136px;
	position: relative;
	z-index: 2;
	letter-spacing: 2px;
}

#home .hero .small{
	font-weight: bold;
	color: #FFFFFF;
	font-size: 18px;
	margin: 10px 0 0 115px;
	line-height: 30px;
	position: relative;
	z-index: 2;
	text-transform: uppercase;
	text-align: center;
	width: 375px;
	letter-spacing: 1px;
}

.intro {
	color: #FFFFFF;
	font-size: 24px;
	margin: 10px 0 0 60px;
	line-height: 30px;
	position: relative;
	z-index: 2;
	text-align: center;
	width: 500px;
	letter-spacing: 1px;
}

.end-small {
	color: #FFFFFF;
	font-size: 18px;
	margin: 10px 0 0 115px;
	line-height: 30px;
	position: relative;
	z-index: 2;
	text-align: center;
	width: 455px;
	letter-spacing: 1px;
}

#home .form-wrap{
	height: 80px;
	width: 420px;
	margin: 50px auto 0;
}

#home .form-wrap .key{
	width: 50px;
	height: 19px;
	margin: 0 auto;
	background: image-url("home/icon.png") 0 0 no-repeat;
	background-size: 46px 19px;
}

#home .form-wrap .byline{
	font-size: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 15px 0;
}

#home .form-wrap .email{
	float: left;
	font-size: 13px;
	padding: 8px 0 8px 10px;
	border: 1px solid #FFF;
	width: 256px;
	outline: none;
	letter-spacing: 1px;
}

#home .form-wrap .submit{
	margin-left: 5px;
	width: 143px;
	background: #212121;
	border: 1px solid #212121;
	float: left;
	height: 37px;
	line-height: 37px;
	color: #FFF;
	font-size: 13px;
	text-transform: uppercase;
	border: 0;
	letter-spacing: 2px;
}

#home .form-wrap .submit{
	border: 1px solid #212121;
}
#home .form-wrap .submit:hover{
	border: 1px solid white;
}
#home .form-wrap .submit:active{
	background: #3b3b3b;
	outline: none;
}
#home .form-wrap .submit:focus{
	outline: none;
}

#home .form-wrap.ended{
	width: 500px;
	margin-top: 27px;
}

#home .form-wrap.ended .again{
	font-weight: 500;
	color: #555556;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

#home .form-wrap.ended{
	width: 500px;
	margin-top: 27px;
}

#home .form-wrap.ended .thanks{
	font-weight: 500;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 14px;
}

#home .form-wrap.ended .compiling{
	letter-spacing: 2px;
	font-size: 16px;
	color: #FFF;
	text-align: center;
	font-weight: 500;
	margin-bottom: 24px;
}

#home .form-wrap.ended .go-to{
	color: #FFF;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 25px;
}

#home .form-wrap.ended .go-to a{
	color: #FFF;
	font-size: 19px;
	font-weight:bold;
	text-transform: uppercase;
	font-style: normal;
	text-decoration: none;
}

#home .form-wrap.ended .go-to a:hover{
	color: #955F5D;
}

#home .form-wrap.ended .again{
	font-weight: 500;
	color: #555556;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

.padding-top {
	padding-top: 50px;
}

.exit {
	font-size: 28px;
	text-transform: uppercase;
	color: #FFF;
	margin-left: 75px;
}



/* Refer a friend page */

.wf-loading .TWCenMT{
	visibility: hidden;
}

.TWCenMT{
	font-family: "TW Cen MT", "Brandon Grotesque", sans-serif;
}

#refer{
	background: #000;
	height: 100%;
}

#refer .page-content{
  background: rgba(0, 0, 0, 0.3);
	width: 100%;
	margin: 0 auto;
	z-index: 0;
	position: relative;
}

#refer .header{
	height: 50px;
	background: #000000;
	width: 100%;
	overflow:hidden;
	z-index: 1;
	position: relative;
}

#refer .header .content{
	width: 315px;
	margin: 0 auto;
}

#refer .header p{
	float: left;
	color: #FFF;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 50px;
}

#refer .header .byline{
	font-size: 14px;
}

#refer .header .logo{
	font-weight: normal;
	font-size: 0;
	line-height: 0;
	margin-right: 14px;
	letter-spacing: 1px;
	background: image-url("refer/logo.png") 0 0 no-repeat;
	background-size: 106px 19px;
	height: 19px;
	width: 106px;
	margin-top: 15px;
}

#refer .hero{
	background: image-url("refer/leather-background.png") right no-repeat, image-url("refer/referral-image") left no-repeat;
	background-size: cover;
	overflow: hidden;
}

#refer .product{
	width: 42%;
	margin-top: 15px;
	float: left;
}

#refer .product .first{
	color: #858181;
	font-size: 16px;
	margin: 15px 0 0 20px;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	width: 420px;
}

#refer .product .second{
	color: #FFF;
	font-size: 20px;
	margin: 6px 0 0 20px;
	display: block;
	letter-spacing: 1px;
	text-align: center;
	width: 465px;
}

#refer .product .third{
	color: #FFF;
	font-size: 12px;;
	font-weight: bold;
	margin: 6px 0 0 20px;
	display: block;
	text-align: center;
	width: 420px;
}

#refer .share-wrap{
	float: right;
	width: 400px;
	text-align: center;
	margin-right: 100px;
}

#refer .share-wrap .why{
	font-size: 16px;
	color: #FFFFFF;
	margin-top: 42px;
}

#refer .share-wrap .title{
	font-size: 24px;
	color: #FFFFFF;
	margin-top: 18px;
}

#refer .share-wrap .subtitle{
	color: #FFFFFF;
	font-size: 13px;
	text-transform: none;
	letter-spacing: 0.07em;
	margin-top: 15px;
}

#refer .share-wrap .copy-link{
	border: 1px solid #D1D0C7;
	background: #FFF;
	padding: 10px 0;
	letter-spacing: .13em;
	width: 320px;
	text-transform: none;
	font-size: 11px;
	margin: 20px auto 0;
}

#refer .share-wrap .social-links{
	width: 120px;
	height: 37px;
	margin: 25px auto 0;
	text-align: center;
}

#refer .share-wrap .social-links a, #refer .share-wrap .social-links div{
	display: inline-block;
}

#refer .share-wrap .social-links .fb{
	background: image-url("refer/fb.png");
	background-size: 27px 27px;
	width: 27px;
	height: 27px;
}

#refer .share-wrap .social-links .twit{
	background: image-url("refer/twit.png");
	background-size: 27px 27px;
	width: 27px;
	height: 27px;
}

#refer .share-wrap .social-links .sep{
	height: 28px;
	background: #BAB9BA;
	margin: 0 20px;
}

#refer .prizes{
	width: 100%;
	height: 50%;
	background: #FFF;
	border-top: 1px solid #D2D1C8;
	background-color: black;
}

#refer .prizes .page-content{
  background: rgba(0, 0, 0, 0.3);
	position: relative;
	background-color: black;
	width: 100%;
}

#refer .prizes .callout{
	text-align: center;
	font-size: 14px;
	color: #FFF;
	margin: 10px 0 0 0;
	letter-spacing: 2px;
}

#refer .prizes .progress{
	height: 4px;
	width: 100%;
	background: image-url("refer/progress-bg.png") 0 0 repeat-x;
	background-size: 1px 4px;
	position: absolute;
	top: 100px;
	z-index: 0;
}

#refer .prizes .progress .mover{
	position: absolute;
	top: 0;
	left: 0;
}

#refer .prizes .progress .mover .bar{
	background: image-url("refer/progress-done.png") 0 0 repeat-x;
	width: 165px;
	height: 4px;
	-webkit-background-size: 1px 4px;
	background-size: 1px 4px;
}

#refer .prize-two .progress .mover .bar{ width: 312px; }
#refer .prize-three .progress .mover .bar{ width: 566px; }
#refer .prize-four .progress .mover .bar{ width: 820px; }
#refer .prize-five .progress .mover .bar{ width: 1120px; }


#refer .prizes ul.products{
	height: 105px;
	width: 100%;
	margin-top: 20px;
	margin-left: 40px;
	position: relative;
	z-index: 1;
}

#refer .prizes .products li.title{
	height: 100%;
	color: #FFF;
	font-weight: 500;
	font-size: 14px;
	float: left;
	margin-right: 20px;
	width: 165px;
}

#refer .prizes .products li.title-in-line {
	display: none;
}

#refer .prizes .products li.title .friends{
	margin-top: 5px;
	letter-spacing: 1px;
}

#refer .prizes .products li.title .rewards{
	margin-top: 25px;
}

#refer .prizes .products li.product{
	height: 100%;
	color: #FFF;
	width: 205px;
	margin-right: 40px;
	float: left;
	position: relative;
}

#refer .prizes .products li.product .circle{
	height: 20px;
	width: 20px;
	border-radius: 15px;
	border: 1px solid #858181;
	text-align: center;
	line-height: 20px;
	color: #FFF;
	overflow: hidden;
	background: #858181;
	margin: 0 auto;
}

#refer .prizes .products li.product .sep{
	width: 12px;
	height: 2px;
	background: transparent;
	margin: 13px auto 13px;
}

#refer .prizes .products li.product .caret{
	width: 100%;
	height: 10px;
	background: image-url("refer/caret.png") center center no-repeat;
	background-size: 16px 10px;
	position: absolute;
	bottom: -15px;
}

#refer .prizes .products li.product.selected .caret{
	background: image-url("refer/caret-selected.png") center center no-repeat;
	background-size: 16px 10px;
}

#refer .prizes .products li.product p{
	text-align: center;
	font-weight: 500;
	font-size: 14px;
}

#refer .prizes .products li.product:last-child{
	margin-right: 0;
}

#refer .prizes .products li.product.last{
	margin-right: 0;
}

#refer .prizes .products li.product.selected .circle{
	background: #995F5E !important;
	border-color: #995F5E !important;
	color: #FFF !important;
}


#refer .prizes .products li.product.selected p{
	color: #995F5E !important;
}

#refer .prizes .products li.product:hover .circle{
	border-color: #FFF;
}

#refer .prizes .products li.product .tooltip{
	height: 254px;
	width: 190px;
	border: 4px solid #FFF;
	position: absolute;
	top: -285px;
	left: -32px;
	display: none;
	background: #FFF;
}

#refer .prizes .products li.product .tooltip img{
	margin: 0 auto;
	display: block;
}

#refer .prizes .products li.product:hover .tooltip{
	display: block;
}

#refer .prizes p.place{
	text-align: center;
	font-size: 16px;
	color: #FFF;
	width: 100%;
	font-weight: 500;
	margin-top: 25px;
}

#refer .prizes p.place span{
	color: #995F5E;
}

#refer .prizes p.check{
	text-align: center;
	font-size: 16px;
	color: #FFF;
	width: 100%;
	font-weight: 500;
}

#refer .prizes p.ship{
	text-align: center;
	font-size: 12px;
	color: #FFF;
	width: 100%;
	font-weight: 500;
	margin-top: 20px;
}

#refer .prizes a.policy{
	text-align: center;
	font-size: 12px;
	color: #858181;
	width: 100%;
	font-weight: 500;
	margin-top: 5px;
	display: block;
	text-decoration: none;
}



/*
	Mobile
*/
	#home .hero{
		background-size: 90% 90%;
		background-color: red;
		background: image-url("home/hero.png") center center no-repeat;
	}

	#home .form-wrap .key{
		background: image-url("home/icon.png") 0 0 no-repeat;
		background-size: 50px 50px;
		height: 50px;
	}

	#refer .header .logo{
		width: 100%;
		height: 40px;
		background: image-url("refer/logo.png") 0 0 no-repeat;
		background-size: 100%;
	}

	#refer .product{
		background-size: 610px 394px;
	}

	#refer .share-wrap .social-links .fb{
		background: image-url("refer/fb@2x.png");
		background-size: 27px 27px;
	}

	#refer .share-wrap .social-links .twit{
		background: image-url("refer/twit@2x.png");
		background-size: 27px 27px;
	}

	#refer .prizes .progress{
		background: image-url("refer/progress-bg@2x.png") 0 0 repeat-x;
		background-size: 1px 4px;
	}

	#refer .prizes .progress .mover .bar{
		background: image-url("refer/progress-done@2x.png") 0 0 repeat-x;
		background-size: 1px 4px;
	}

	#refer .prizes .progress .mover .razor{
		background: image-url("refer/razor@2x.png") 0 0 no-repeat;
		background-size: 82px 23px;
	}

	#refer .prizes .products li.product .caret{
		background: image-url("refer/caret@2x.png") center center no-repeat;
		background-size: 16px 10px;
	}

	#refer .prizes .products li.product.selected .caret{
		background: image-url("refer/caret-selected@2x.png") center center no-repeat;
		background-size: 16px 10px;
	}

@media (max-width: 920px) {
	#refer .prizes .products li.title {
		height: 300%
	}
}

@media (max-width: 635px) {
	#refer .prizes .products li.title {
		height: 400%
	}
}

@media
only screen and (min-device-width: 320px) and (max-device-width: 768px),
only screen and (min-device-width: 320px) and (max-device-width: 768px),
only screen and  (min-device-width: 320px) and (max-device-width: 768px),
only screen and  (min-device-width: 320px) and (max-device-width: 768px),
only screen and  (min-device-width: 320px) and (max-device-width: 768px),
only screen and (min-device-width: 320px)  and (max-device-width: 768px) {

	#home .intro {
		color: #FFFFFF;
		font-size: 50px;
		margin: 30px 0 0 0;
		line-height: 50px;
		position: relative;
		z-index: 2;
		text-align: center;
		width: 100%;
		letter-spacing: 1px;
	}

  #home .form-wrap .key {
		background-size: 80px 80px;
		height: 80px;
		width: 80px;
	}

	#home .form-wrap .byline {
		font-size: 24px;
	}

	#home .form-wrap .email {
		font-size: 40px;
		width: 400px;
		height: 40px;
	}

	#home .form-wrap .submit {
		margin-top: 10px;
		width: 400px;
		height: 50px;
		line-height: 50px;
		font-size: 32px;
	}

	.exit {
    font-size: 50px;
    text-transform: uppercase;
    color: #FFF;
		text-align: center;
    margin-left: 0px;
		margin-top: 70px;
	}

	.end-small {
    font-size: 40px;
    color: #FFF;
		text-align: center;
    margin-left: 0px;
		margin-top: 24px;
		width: 100%;
		line-height: 40px;
	}

	#home .form-wrap.ended{
		width: 700px;
		margin-top: 27px;
	}

	#home .form-wrap.ended .thanks{
		color: #FFF;
		text-align: center;
		font-size: 30px;
		letter-spacing: 1px;
		margin-bottom: 32px;
		margin-top: 60px;
	}

	#home .form-wrap.ended .compiling{
		letter-spacing: 2px;
		font-size: 26px;
		color: #FFF;
		text-align: center;
		margin-bottom: 32px;
	}

	#home .form-wrap.ended .go-to{
		color: #FFF;
		font-size: 30px;
		letter-spacing: 1px;
		text-align: center;
		margin-bottom: 32px;
	}

	#home .form-wrap.ended .go-to a{
		color: #FFF;
		font-size: 32px;
		font-weight:bold;
		text-transform: uppercase;
		font-style: normal;
		text-decoration: none;
	}

	#refer .hero {
		height: 650px;
	}

	#refer .product{
		width: 100%;
		margin-top: 50px;
	}

	#refer .product .first{
		color: #858181;
		font-size: 32px;
		margin: 15px 0 0 20px;
		display: block;
		text-align: center;
		letter-spacing: 1px;
		width: 100%;
	}

	#refer .product .second{
		color: #FFF;
		font-size: 40px;
		margin: 6px 0 0 20px;
		display: block;
		letter-spacing: 1px;
		text-align: center;
		width: 100%;
	}

	#refer .product .third {
		color: #FFF;
		font-size: 24px;;
		font-weight: bold;
		margin: 6px 0 0 20px;
		display: block;
		text-align: center;
		width: 100%;
	}

	#refer .prizes .callout {
		display: none;
	}

	#refer .share-wrap {
		width: 100%;
		text-align: center;
		margin-right: 100px;
		margin-top: 250px;
		float: none;
	}

	#refer .share-wrap .why {
		font-size: 24px;
	}
	#refer .share-wrap .title {
		font-size: 36px;
	}
	#refer .share-wrap .subtitle {
		font-size: 18px;
	}

	#refer .share-wrap .copy-link {
		width: 50%;
		font-size: 20px;
	}

	#refer .prizes ul.products {
		margin: 0;
	}

	#refer .prizes .products li.title {
		display: none;
		width: 100%;
		font-size: 30px;
		margin-top: 155px;
		margin-bottom: 25px;
		text-align: center;
	}

	#refer .prizes .products li.title-in-line {
		color: white;
		font-weight: bold;
		display: block;
		width: 100%;
		font-size: 30px;
		margin-top: 155px;
		margin-bottom: 50px;
		text-align: center;
	}

	#refer .prizes .products li.title .friends{
		color: white;
		font-weight: bold;
	}

	#refer .prizes .products li.title .rewards {
		margin-top: 2px;
	}

	#refer .prizes .products li.product {
		width: 100%;
		margin-bottom: 40px;
		height: auto;
	}

	#refer .prizes .products li.product .circle {
		height: 50px;
		width: 50px;
		border-radius: 25px;
		border: 1px solid #858181;
		line-height: 50px;
		color: #FFF;
		font-size: 36px;
	}

	#refer .prizes .products li.product .sep {
		height: 0px;
		margin: 1px;
	}

	#refer .prizes .products li.product p {
		font-size: 32px;
	}

	#refer .prizes p.place {
		font-size: 32px;
		position: absolute;
		top: 0;
	}
	#refer .prizes p.check {
		font-size: 24px;
		position: absolute;
		top: 70px;
	}
	#refer .prizes p.ship {
		font-size: 24px;
		margin-top: 25px;
	}
	#refer .prizes a.policy {
		font-size: 24px;
	}

	@media (max-width: 400px) {
		#home .intro {
			color: #FFFFFF;
			font-size: 50px;
			margin: 30px 0 0 0;
			line-height: 50px;
			position: relative;
			z-index: 2;
			text-align: center;
			width: 100%;
			letter-spacing: 1px;
		}

		#home .form-wrap .key {
			background-size: 80px 80px;
			height: 80px;
			width: 80px;
		}

		#home .form-wrap .byline {
			font-size: 24px;
		}

		#home .form-wrap .email {
			font-size: 40px;
			width: 400px;
			height: 40px;
		}

		#home .form-wrap .submit {
			margin-top: 10px;
			width: 400px;
			height: 50px;
			line-height: 50px;
			font-size: 32px;
		}

		.exit {
			font-size: 50px;
			text-transform: uppercase;
			color: #FFF;
			text-align: center;
			margin-left: 0px;
			margin-top: 70px;
		}

		.end-small {
			font-size: 40px;
			color: #FFF;
			text-align: center;
			margin-left: 0px;
			margin-top: 24px;
			width: 100%;
			line-height: 40px;
		}

		#home .form-wrap.ended{
			width: 700px;
			margin-top: 27px;
		}

		#home .form-wrap.ended .thanks{
			color: #FFF;
			text-align: center;
			font-size: 30px;
			letter-spacing: 1px;
			margin-bottom: 32px;
			margin-top: 60px;
		}

		#home .form-wrap.ended .compiling{
			letter-spacing: 2px;
			font-size: 26px;
			color: #FFF;
			text-align: center;
			margin-bottom: 32px;
		}

		#home .form-wrap.ended .go-to{
			color: #FFF;
			font-size: 30px;
			letter-spacing: 1px;
			text-align: center;
			margin-bottom: 32px;
		}

		#home .form-wrap.ended .go-to a{
			color: #FFF;
			font-size: 32px;
			font-weight:bold;
			text-transform: uppercase;
			font-style: normal;
			text-decoration: none;
		}

		#refer .hero {
			height: 650px;
		}

		#refer .product{
			width: 100%;
			margin-top: 50px;
		}

		#refer .product .first{
			color: #858181;
			font-size: 32px;
			margin: 15px 0 0 20px;
			display: block;
			text-align: center;
			letter-spacing: 1px;
			width: 100%;
		}

		#refer .product .second{
			color: #FFF;
			font-size: 40px;
			margin: 6px 0 0 20px;
			display: block;
			letter-spacing: 1px;
			text-align: center;
			width: 100%;
		}

		#refer .product .third {
			color: #FFF;
			font-size: 24px;;
			font-weight: bold;
			margin: 6px 0 0 20px;
			display: block;
			text-align: center;
			width: 100%;
		}

		#refer .prizes .callout {
			display: none;
		}

		#refer .share-wrap {
			width: 100%;
			text-align: center;
			margin-right: 100px;
			margin-top: 260px;
			float: none;
		}

		#refer .share-wrap .why {
			font-size: 24px;
		}
		#refer .share-wrap .title {
			font-size: 36px;
		}
		#refer .share-wrap .subtitle {
			font-size: 18px;
		}

		#refer .prizes ul.products {
			margin: 0;
		}

		#refer .prizes .products li.title {
			display: none;
			width: 100%;
			font-size: 30px;
			margin-top: 155px;
			margin-bottom: 25px;
			text-align: center;
		}

		#refer .prizes .products li.title-in-line {
			color: white;
			display: block;
			width: 100%;
			font-size: 30px;
			margin-top: 155px;
			margin-bottom: 50px;
			text-align: center;
		}

		#refer .prizes .products li.title .rewards {
			margin-top: 2px;
		}

		#refer .prizes .products li.product {
			width: 100%;
			margin-bottom: 40px;
			height: auto;
		}

		#refer .prizes .products li.product .circle {
			height: 50px;
			width: 50px;
			border-radius: 25px;
			border: 1px solid #858181;
			line-height: 50px;
			color: #FFF;
			font-size: 36px;
		}

		#refer .prizes .products li.product .sep {
			height: 0px;
			margin: 1px;
		}

		#refer .prizes .products li.product p {
			font-size: 32px;
		}

		#refer .prizes p.place {
			position:absolute;
			top: 0;
		}
		#refer .prizes p.check {
			font-size: 24px;
			position: absolute;
			top: 70px;
		}
		#refer .prizes p.ship {
			font-size: 24px;
			margin-top: 25px;
		}
		#refer .prizes a.policy {
			font-size: 24px;
		}
	}


}
